section
    min-height: 84vh
    max-height: 100%
    width: 100%

.mat-card
    width: 250px
    height: 320px
    img
      height: 200px
      z-index: 100
    img:focus
      outline: none
    img:hover
      cursor: pointer

.mat-card-title
    font-size: 18px
    font-weight: bold

.recipe
  color: #858585


.fork-me-github
    position: absolute
    right: 0px
    z-index: 999
