<section fxLayout="row wrap" fxLayoutAlign="center start">
  <mat-card *ngFor="let item of list" class="ml3 my3">
    <div fxLayout="column">
      <img mat-card-image src="../../../assets/sopa.jpg">
      <div fxLayoutAlign="center center">
        <span class="mat-title"> Sopa de Abobora </span>
      </div>
      <div fxLayoutAlign="center center">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon>star_outline</mat-icon>
      </div>
      <div fxLayoutAlign="center center" class="py2">
        <mat-icon>favorite</mat-icon>
        <span>4.500</span>
      </div>
    </div>

  </mat-card>
</section>
