section
    min-height: 80vh
    max-height: 100%
    width: 100%

.mat-card
    width: 300px
    height: 320px
    img
      height: 200px


.mat-card-title
    font-size: 18px
    font-weight: bold

.recipe
  color: #858585
