<section fxLayout="row wrap" fxLayoutAlign="start start">
  <mat-card *ngFor="let recipe of recipe" class="ml3 my3">
    <div fxLayout="column">
      <img mat-card-image [src]="recipe.imagemPath">
      <mat-card-title fxLayoutAlign="start center">
        <div fxFlex>{{recipe.name}} </div>
        <div fxLayout="column" fxflex fxLayoutAlign="end start">
          <app-favorite-button [recipe]="recipe"></app-favorite-button>
        </div>
      </mat-card-title>
      <div class="mat-subheading-1 recipe" fxLayoutAlign="center center">
        {{recipe.category}}
      </div>
      <div fxLayout="row">
        <div fxFlex="50" fxLayoutAlign="center center" class="mat-subheading-1">
          <mat-icon color="primary" class="pr1">alarm</mat-icon>
          {{recipe.preparationTime}} min
        </div>
        <div fxFlex="50" fxLayoutAlign="center center" class="mat-subheading-1">
          <mat-icon color="primary" class="pr1">restaurant_menu</mat-icon>
          {{ recipe.numberPortion }} Porções
        </div>
        <!-- <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon>star_outline</mat-icon> -->
      </div>
    </div>

  </mat-card>
</section>
