<section fxLayout="row wrap" fxLayoutAlign="center start">
  <mat-card *ngFor="let recipe of recipe" class="ml3 my3">
    <div fxLayout="column">
      <img mat-card-image [src]="recipe.imagemPath" [alt]="recipe.name" [routerLink]="['/receita', recipe.id]">
      <mat-card-title fxLayoutAlign="start center">
        <div fxFlex>{{recipe.name}} </div>
        <div fxLayout="column" fxflex fxLayoutAlign="end start">
          <app-favorite-button [recipe]="recipe"></app-favorite-button>
        </div>
      </mat-card-title>
      <mat-card-subtitle class=" recipe" fxLayoutAlign="start center">
        {{recipe.category}}
      </mat-card-subtitle>
      <div fxLayout="row">
        <div fxFlex="50" fxLayoutAlign="center center" class="mat-subheading-1">
          <mat-icon color="primary" class="pr1">alarm</mat-icon>
          {{recipe.preparationTime}} min
        </div>
        <div fxFlex="50" fxLayoutAlign="center center" class="mat-subheading-1">
          <mat-icon color="primary" class="pr1">restaurant_menu</mat-icon>
          {{ recipe.numberPortion }} Porções
        </div>
      </div>
    </div>

  </mat-card>
</section>
