@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueçeu sua senha?";
}

<div class="container-fluid p-0 image">
    <div class="d-flex justify-content-center align-items-center" style="height:100vh; width: 100vw;">
        <div class="col-sm-8 col-md-8 col-lg-3 col-xl-3 col-xxl-3 py-3 card shadow" style="background-color: white">
            <div class="text-center ">
                <h5 style="font-weight: 600" class="color-primary"><i class="bi bi-book"></i> MyCookbook</h5>
            </div>
            <div class="text-center py-3">
                <h4 style="font-weight: 600">@ViewData["Title"]</h4>
            </div>
            <div class="px-1">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="padding-botton">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                            <input asp-for="Input.Email" placeholder="Seu Email" type="text" class="form-control txt-email" aria-label="Email" aria-describedby="basic-addon1">
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
