@page
@model RegisterModel
@{
    ViewData["Title"] = "Criar sua conta";
}

<h1>@ViewData["Criar Conta"]</h1>


<div class="container-fluid p-0 image">
    <div class="d-flex justify-content-center align-items-center" style="height:100vh; width: 100vw;">
        <div class="col-sm-8 col-md-8 col-lg-3 col-xl-3 col-xxl-3 py-3 card shadow" style="background-color: white">
            <div class="text-center ">
                <h5 style="font-weight: 600" class="color-primary"><i class="bi bi-book"></i> MyCookbook</h5>
            </div>
            <div class="text-center py-3">
                <h4 style="font-weight: 600">@ViewData["Title"]</h4>
            </div>

            <div class="px-1">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="padding-botton">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                            <input asp-for="Input.Name" placeholder="Seu Nome" type="text" class="form-control txt-user" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>

                    <div class="padding-botton">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                            <input asp-for="Input.Email" placeholder="Seu Email" type="text" class="form-control txt-email" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="padding-botton">
                        <div class="input-group show-password">
                            <button class="btn btn-outline-secondary toogle-button" type="button" id="button-addon1">
                                <i class="bi bi-eye"></i>
                            </button>
                            <input asp-for="Input.Password" placeholder="Crie uma senha" type="text" class="form-control txt-password" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="padding-botton">
                        <div class="input-group show-password-confirm">
                            <button class="btn btn-outline-secondary toogle-button" type="button" id="button-addon1">
                                <i class="bi bi-eye"></i>
                            </button>
                            <input asp-for="Input.ConfirmPassword" placeholder="Repira sua senha" type="text" class="form-control txt-password" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-center pb-2">
                        <button type="submit" class="btn btn-primary btn-login" disabled>Criar conta</button>
                    </div>
                    <div class="text-center pb-2" style="font-size: 14px">
                        <span>já tem uma conta?</span>
                        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            let txtUser = $(".txt-user");
            let txtEmail = $(".txt-email");
            let txtPassword = $(".txt-password");

            txtUser.keyup(() => desabilitarLogin());
            txtEmail.keyup(() => desabilitarLogin());
            txtPassword.keyup(() => desabilitarLogin());

            function desabilitarLogin() {
                let btnLogin = $(".btn-login");

                if (txtUser.val().length === 0
                    || txtEmail.val().length === 0
                    || txtPassword.val().length === 0
                ) {
                    $(btnLogin).attr("disabled", "disabled");
                } else {
                    $(btnLogin).removeAttr("disabled");
                }
            }

            let password = new Password();
            password.showPasswordClick("show-password");
            password.showPasswordClick("show-password-confirm");
        });
    </script>
}
