body {
  height: 100%;
  background-color: #f9f9f9;
}

i {
  font-size: 22px;
}

.sr-only {
  display: none;
}

.icon-category {
  width: 80px;
  height: 80px;
}

.primary-background {
  background-color: #4e70ff;
}

.primary-color {
  color: #4e70ff;
}

.light-background {
  background-color: rgb(216, 236, 255);
}

.capitalize {
  text-transform: capitalize;
}

.img-card {
  height: 100%;
  width: 100%;
}

.img-card:hover {
  cursor: pointer;
}

.card-shadow:hover {
  box-shadow: 5px 5px 5px #e7e6e6;
  top: -10px;
}

.card-shadow {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
