body {
  height: 100%;
  background-color: #f9f9f9;
}

i {
  font-size: 22px;
}

.sr-only {
  display: none;
}

.icon-category {
  width: 80px;
  height: 80px;
}

.primary-background {
  background-color: #4e70ff;
}

.primary-color {
  color: #4e70ff;
}

.light-background {
  background-color: rgb(216, 236, 255);
}
