<nav class="navbar navbar-expand-lg navbar-light primary-background">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-light" href="#">
      <i class="bi bi-journal-bookmark-fill"></i>
      My CookBook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/about']">Sobre</a>
        </li>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-link text-light" id="dropdownBasic1" ngbDropdownToggle>Receitas</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="['/categories']" class="fw-bold">Todas as categorias</button>
            <div *ngIf="categories$ | async as categories">
              <button ngbDropdownItem *ngFor="let category of categories" [routerLink]="['/categories/', category.id]">
                <img src="{{category.icon}}" style="width: 30px; height: 30px; padding-right: 5px;" />
                <span class="fw-bold">{{category.name}}</span>
              </button>
            </div>
          </div>
        </div>
      </ul>
    </div>
    <button type="button" class="btn btn-outline-light" [routerLink]="['/add']">
      Adicionar Receitas
    </button>
  </div>
</nav>
