<div *ngIf="(recipes | filterRecipe: filterName) as result" class="d-flex justify-content-around flex-wrap">
  <div *ngFor="let recipe of result" class="card rounded mt-4 mb-4" style="width: 18rem">
    <div style="height: 150px;">
      <img src="{{ recipe.images[0] }}" class="rounded" alt="{{recipe.name}}" style="height: 100%; width: 100%;" />
    </div>
    <div class="card-body">
      <h5 class="card-title fw-bold mb-1 capitalize">{{ recipe.name }}</h5>
      <p class="mb-1">
        <i class="bi bi-person"></i>
        Por {{recipe.userName}}
      </p>
      <p class="card-text">
        <i class="bi bi-tag"></i>
        <span>{{recipe.categoryName}}</span>
      </p>
      <div class="d-flex justify-content-between">
        <a [routerLink]="['/recipe', recipe.id]" class="btn btn-outline-primary">Ver receita</a>
        <app-toggle-favorite [isFavorite]="recipe.favorite" [id]="recipe.id"></app-toggle-favorite>
      </div>
    </div>
  </div>
  <div *ngIf="result.length === 0">
    <app-not-found messageNotFound="Nenhuma receita encontrada." messageAddRecipe="Vamos adicionar uma receita?">
    </app-not-found>
  </div>
</div>
