<div [formGroup]="stepAdvanced" fxLayout="column">
  <div fxLayout="row" class="pt2" fxLayoutAlign="center center">
    <span class="pr2">Deseja Publicar está receita?</span>
    <mat-slide-toggle color="primary" (change)="changePublic($event)" formControlName="public">
      <span *ngIf="publicado">Publicado</span>
      <span *ngIf="!publicado">Despublicado</span>
    </mat-slide-toggle>
  </div>
  <div fxLayout="column" class="pt4">
    <div fxLayout="column" fxLayoutAlign="center center">
      <input type="file" (change)="fileUpload($event)" hidden #fileInput formControlName="imagemPath" multiple="true">
      <button mat-raised-button color="primary" type="file" name="img" accept="image/*" (click)="fileInput.click()">
        <mat-icon class="pr1">cloud_upload</mat-icon>Adicionar Imagem
      </button>
      <mat-error *ngIf="stepAdvanced.get('imagemPath').errors?.required">
        Campo Obrigatório
      </mat-error>
    </div>


    <div fxflex="50" fxLayoutAlign="center center" class="pt2" *ngIf="imageUrl">
      <mat-card fxLayoutAlign="center center">
        <img *ngIf="imageUrl" [src]="imageUrl">
        <!-- <p *ngIf="!imageUrl">
          Tamanho da imagem: <br> 500x500
        </p> -->
        <div *ngIf="imageUrl" class="closeImage">
          <button mat-mini-fab color="primary" (click)="reset()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
