<div fxLayout="row" fxLayoutAlign="center center" class="background-edit py4">
  <mat-card fxFlex="70" class="py4 mat-elevation-z4">
    <mat-tab-group>
      <!-- Básico -->
      <mat-tab label="Básico">
        <div [formGroup]="recipeFormEdit" fxLayout="column">
          <div fxLayout="row" fxFill fxLayoutAlign="center center" class="pt2">
            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Nome da Receita</mat-label>
              <input matInput #name formControlName="name" placeholder="Nome da Receita" [ngModel]="recipe?.name">
              <mat-hint align="end">{{name.value.length}} / 60</mat-hint>
              <mat-error *ngIf="recipeFormEdit.get('name').invalid">
                {{mensagemErroName()}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxFill fxLayoutAlign="center center" class="pt2">
            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Categoria</mat-label>
              <mat-select formControlName="category" [ngModel]="recipe?.categoryId">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let category of category" [value]="category.name">
                  {{category.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="recipeFormEdit.get('category').errors?.required">
                Campo Obrigatório
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxFill fxLayoutAlign="center center" class="pt2">
            <div fxFlex="100" fxLayoutAlign="space-between center">
              <mat-form-field fxFlex="40%" appearance="outline">
                <mat-label>Tempo de Preparo</mat-label>
                <input matInput formControlName="preparationTime" type="number"
                  onKeyPress="if(this.value.length==3) return false;" [ngModel]="recipe?.preparationTime">
                <mat-hint>Minutos</mat-hint>
                <mat-error *ngIf="recipeFormEdit.get('preparationTime').errors?.required">
                  Campo Obrigatório
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="40%" appearance="outline">
                <mat-label>Porções</mat-label>
                <input matInput formControlName="numberPortion" type="number"
                  onKeyPress="if(this.value.length==3) return false;" [ngModel]="recipe?.numberPortion">
                <mat-error *ngIf="recipeFormEdit.get('numberPortion').errors?.required">
                  Campo Obrigatório
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayoutAlign="center center" class="pt2">
          <button mat-raised-button color="primary" (click)="SaveEditRecipe()"
            [disabled]="recipeFormEdit.pristine">Salvar</button>
        </div>
      </mat-tab>
      <!-- Ingredientes -->
      <mat-tab label="Ingredientes">
        <div [formGroup]="recipeFormEdit" fxLayout="column">
          <div class="pt2">
            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Ingredientes</mat-label>
              <textarea matInput #message placeholder="Ex. 3 ovos ..." formControlName="ingredients"
                [ngModel]="recipe?.ingredients">
              </textarea>
              <mat-hint align="start"> Escreva um ingrediente por linha.</mat-hint>
              <mat-hint align="end">{{message.value.length}} / 1000</mat-hint>
              <mat-error> {{mensagemErroIngredients()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="pt4">
            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Modo de Preparo</mat-label>
              <textarea matInput #message placeholder="Ex. 3 ovos ..." formControlName="preparationMode"
                [ngModel]="recipe?.preparationMode">
              </textarea>
              <mat-hint align="start"> Descreva um etapa em cada linha.</mat-hint>
              <mat-hint align="end">{{message.value.length}} / 1000</mat-hint>
              <mat-error> {{mensagemErroPreparation()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="center center" class="pt2">
          <button mat-raised-button color="primary" (click)="SaveEditRecipe()"
            [disabled]="recipeFormEdit.pristine">Salvar</button>
        </div>
      </mat-tab>
      <!-- Avançado -->
      <mat-tab label="Avançado">
        <div [formGroup]="recipeFormEdit" fxLayout="column">
          <div fxLayout="row" class="pt2" fxLayoutAlign="center center">
            <span class="pr2">Deseja Publicar está receita?</span>
            <mat-slide-toggle color="primary" (change)="changePublic($event)" formControlName="public"
              [ngModel]="recipe?.public">
              <span *ngIf="publicado">Publicado</span>
              <span *ngIf="!publicado">Despublicado</span>
            </mat-slide-toggle>
          </div>

          <div fxLayout="column" class="pt3">
            <div fxLayout="column" fxLayoutAlign="center center">
              <input type="file" (change)="fileUploadEditImage($event)" hidden #fileInput formControlName="images"
                multiple="true">
              <button mat-raised-button color="primary" type="file" name="img" accept="image/*"
                (click)="fileInput.click()">
                <mat-icon class="pr1">cloud_upload</mat-icon>Adicionar Imagem
              </button>
              <mat-error *ngIf="recipeFormEdit.get('images').touched">
                Campo Obrigatório
              </mat-error>
            </div>
            <div fxflex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="pt2">
              <mat-card fxLayoutAlign="center center" *ngFor="let itemEdit of recipe.images, let x = index"
                class="mr2 images">
                <img *ngIf="itemEdit" [src]="itemEdit">
                <div *ngIf="itemEdit" class="closeImage">
                  <button mat-mini-fab color="primary" (click)="resetEditImage(x)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <div fxLayoutAlign="center center" class="pt2">
          <button mat-raised-button color="primary" (click)="SaveEditRecipe()"
            [disabled]="recipeFormEdit.pristine">Salvar</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
