<div class="container-fluid p-0" style="min-height: 95vh; max-height: 100%;">
  <div *ngIf="recipes">

    <div class="d-flex justify-content-center px-4 py-2">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Pesquisar receita por nome"
        [(ngModel)]="filterName" style="width: 500px;">
    </div>

    <app-card-recipe [recipes]="recipes" [filterName]="filterName"> </app-card-recipe>
  </div>

  <div *ngIf="!isLoading && !recipes">
    <app-not-found></app-not-found>
  </div>
</div>
