<section *ngIf="recipe" class="py3" fxLayout="row" fxLayoutAlign="center start">
  <mat-card fxFlex="90" fxFlex.xs="100%" fxFlex.sm="900%" fxFlex.lg="60%" fxFlex.xl="50%" class="mat-elevation-z0">
    <div fxLayout="row">
      <mat-card-title fxFlex="50" fxLayoutAlign="start center" class="h3">
        {{recipe.name | uppercase}}
      </mat-card-title>
      <div fxFlex fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [routerLink]="['/recipe', recipe.id, 'edit']">
          <mat-icon>edit</mat-icon>
          Editar
        </button>
      </div>
    </div>
    <mat-card-subtitle fxFill fxLayout="column" fxLayoutAlign="center start">
      {{this.category?.name | uppercase}}
    </mat-card-subtitle>
    <div class="mat-body-2">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="100" fxFlex.xs="100%">
          <app-carousel [images]="recipe.images"></app-carousel>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="row wrap" class="pt2">
        <div fxFlex="22" fxFlex.sm="20%" fxFlex.xs="48%" fxLayout="column" fxLayoutAlign="center center"
          class="background-itens py1">
          <mat-icon color="primary">alarm</mat-icon>
          <p class="title-icone">PREPARO</p>
          {{recipe.preparationTime}} MIN
        </div>
        <div fxFlex="22" fxFlex.sm="20%" fxFlex.xs="48%" fxLayout="column" fxLayoutAlign="center center"
          class="background-itens py1">
          <mat-icon color="primary" class=" icone">restaurant_menu</mat-icon>
          <p class="title-icone">RENDIMENTO</p>
          {{recipe.numberPortion}} PORÇÕES
        </div>
        <div fxFlex="22" fxFlex.sm="20%" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="center center"
          class="background-itens" [ngClass.xs]="{ 'mt1': true }">
          <app-favorite-button [recipe]="recipe"></app-favorite-button>
          <p class="title-icone">FAVORITO</p>
          <span>1.500</span>
        </div>
        <div fxFlex="30" fxFlex.sm="35%" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="center center"
          class="background-itens py2" [ngClass.xs]="{ 'mt1': true }">
          <span class="title-icone pl2">Avaliar Receita</span>
          <app-rating [rating]="recipe.rating" (ratingUpdated)="onRatingChanged($event)"></app-rating>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" class="pt3">
        <span fxFill color="primary" class="title-icone background-itens pl1 py2" fxLayoutAlign="start center">
          <mat-icon color="primary" class="pr1">menu_book</mat-icon>
          INGREDIENTES
        </span>
        <div [innerHTML]="ingredientsHtml" class="list">
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center start" class="pt3">
        <span fxFill color="primary" class="title-icone background-itens pl1 py2" fxLayoutAlign="start center">
          <mat-icon color="primary" class="pr1">restaurant_menu</mat-icon>
          PREPARO
        </span>
        <div [innerHTML]="preparoModeHtml" class="preparationMode list">
        </div>
      </div>
    </div>
  </mat-card>
</section>
